a {
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-family: 'Arial', monospace;
  font-size: 40px;
  margin-bottom: .4rem;
  color: #DD0000;
}

button {
  border: 0;
  margin-top: .7rem;
}

img {
  width: 2rem;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 16px;
}

.nav-decoration img {
  margin-top: -4rem;
  width: 1rem;
}

.fixed-top {
  background-color: #FFF;
}
