<!-- The main nav bar -->
<nav class="navbar navbar-toggleable-sm navbar-light mt-2">
  <ul class="navbar-nav mx-auto">
    <button class="navbar-toggler navbar-toggler-right mt-2 mr-5" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <img src="assets/nav-button-down.png">
    </button>

    <li class="text-center mr-2">
      <a class="navbar-brand" href="#">{{title}}</a>
    </li>

    <!-- This is for the red bar that disappears in mobile view -->
    <div class="hidden-sm-down mr-5">
      <h1>|</h1>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <!-- Menu options, collapsed in mobile view -->

      <li class="hidden-sm-up mr-5 ml-3">
        <h1>_</h1>
      </li>
      <li class="nav-item text-center active mr-5 mt-1">
        <a class="nav-link" href="#">about <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item text-center mr-5 mt-1">
        <a class="nav-link" href="#">projects</a>
      </li>
      <li class="nav-item text-center mr-5 mt-1">
        <a class="nav-link" href="#">research</a>
      </li>
      <li class="nav-item text-center mr-5 mt-1">
        <a class="nav-link" href="#">misc</a>
      </li>
      <!-- Menu options, collapsed in mobile view -->
    </div>

  </ul>
</nav>

<!-- Decoration under the nav bar -->
<div>
  <hr>
  <div class="nav-decoration text-center">
    <img src="assets/heart.png" class="mr-3">
    <img src="assets/clover.png" class="mr-3">
    <img src="assets/diamond.png" class="mr-3">
    <img src="assets/spade.png" class="mr-3">
  </div>
</div>
