<!-- <div class="white-space fixed-top">
</div> -->

<div class="fixed-top">

  <!-- The main nav bar -->
  <nav class="navbar navbar-toggleable-sm navbar-light mt-2">
    <div class="navbar-nav mx-auto">
      <div [class.hidden-sm-down]="isExpanded">
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
          <img src="assets/nav-button-down.png">
        </button>
      </div>

      <a class="navbar-brand text-center mr-2 text-uppercase" href="#">{{title}}</a>

      <!-- This is for the red bar that disappears in mobile view -->
      <div class="hidden-sm-down mr-5 ml-3">
        <h1>|</h1>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!isExpanded">
        <!-- Menu options, collapsed in mobile view -->
        <ul class="navbar-nav">
          <h1 class="nav-item hidden-md-up mb-4 text-center">__</h1>
          <li class="nav-item text-center active mt-1">
            <a class="nav-link" href="#">about <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-center mt-1">
            <a class="nav-link" href="#">projects</a>
          </li>
          <li class="nav-item text-center mt-1">
            <a class="nav-link" href="#">research</a>
          </li>
          <li class="nav-item text-center mt-1">
            <a class="nav-link" href="#">misc</a>
          </li>
          <li class="nav-item text-center mt-3">
            <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded; menuOpened = !menuOpened;" [attr.aria-expanded]="!isExpanded" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <img src="assets/nav-button-up.png">
          </button>
          </li>
        </ul>
        <!-- Menu options, collapsed in mobile view -->
      </div>

    </div>
  </nav>

  <!-- Decoration under the nav bar -->
  <div [class.hidden-sm-down]="isExpanded">
    <hr>
    <div class="nav-decoration text-center">
      <img src="assets/heart.png" class="mr-3">
      <img src="assets/clover.png" class="mr-3">
      <img src="assets/diamond.png" class="mr-3">
      <img src="assets/spade.png" class="mr-3">
    </div>
  </div>

</div>
