@import "../../../scss/variables";
.jenn-card {
  margin: $card-margin;
}

.me-card, .skills-card, .work-card, .accomplishments-card {
  padding: $card-padding;
}

.jenn-me-button, .jenn-skills-button, .jenn-work-button, .jenn-accomplishments-button {
  float: right;

  h1 {
    float: right;
    font-family: $base-font;
    font-size: $h1-font-size;
    color: $white;
    text-align: right;
  }
}

.me-card, .skills-card {
  background-color: $red;
}

.work-card, .accomplishments-card {
  background-color: $black;
}

// Media import
@import "../../../scss/mixins";
@import "../../../scss/utilities";
